.dot {
  width: 5px;
  height: 5px;
  background-color: #868686;
  border-radius: 50%;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

